<html>
    <head>
        <title>Fernanda's blog</title>
    </head>
    <body>
        <h1>Welcome!</h1>
        <h2>Nice to meet you!</h2>
        <p>It works! <br>
            This site was based in a wonderful project:
            <a href= "https://djangogirls.org">djangogirls</a>
        </p>
        <div>
            <p>published on 04.12.2020, 11:05</p>
            <h2><a href="">Lorem Ipsum</a></h2>
            <p>
                Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. 
                Donec id elit non mi porta gravida at eget metus. 
                Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            </p>
        </div>
    </body>
</html>