<html>
    <head>
        <title>Fernanda's blog</title>
    </head>
    <body>
        <h1>Welcome!</h1>
        <h2>Nice to meet you!</h2>
        <p>It works! <br>
            This site was based in a wonderful project:
            <a href= "https://djangogirls.org">djangogirls</a>
        </p>
        {% for post in posts %}
        <div>
            <p>published: {{post.published_date}}</p>
            <h2><a href= "">{{post.title}}</a></h2>
            <p>{{post.text|linebreaksbr}}</p>
        </div>
        {% endfor %}
    </body>
</html>